<!-- templates/account_detail.html -->
{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
	{% block page %}

		<div class="heading" align="center">
			<p><h3>Это страничка пользователя  
					<b>  {{ user.name }} </b>
					<br><br>
			</p></h3>
		</div>	

		<p>Детализация счёта:</p>
		<p>Счёт № <b>{{ account.number }}</b>. На нем лежит <b>{{ account.value }}</b> рублей</p>

<!--		<p>
			Всего на выбранных счётах пользователя
				<b>{{ user.name }} </b>
			находится 
				<b>{{ total_value }} </b> 
			рублей
		</p>	-->

		<br>
		<p>Выберите пользователя которому нужно отправить средства:</p>
		<a href="/shop/search/">Поиск пользователя >></a>		

	{% endblock %}

	{% block additional %}
	{% endblock %}

	{% block sidebar %}
	{% endblock %}
{% endblock %}

