<!-- templates/user_detail.html -->
{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
	{% block page %}

		<div class="heading" align="center">
			<p><h3>Это страничка пользователя  
					<b>  {{ user.name }} </b>
					<br><br>
			</p></h3>
		</div>	

<!-- Список счетов на checkbox'ах -->

		<div class="accounts">
			<p><h4>Мои счета:</p></h4>

			<div class="list_of_accounts">
				<form action="/shop/accounts/" method="get">
					{% for x in users_accounts %}
						<div>
							<ul>
								<li>
									<h5>
									<input type="checkbox" name= "accounts" value="{{x.pk}}">
<!--										<a href=" {% url 'account_page' pk=x.pk %} ">	-->
											Номер счета: {{ x.number }} ; 
											Сумма на счету =  {{ x.value }} руб.
										</a>
									</h5>
								</li>
							</ul>
						</div>	
					{% endfor %}
					<br>
					<p><input type="hidden" name="pk" value="{{ user.pk }}"></p>
					<p><input type="hidden" name="fu" value="{{ find_user }}"></p>
					<p><input type="submit" value="Выбрать"></p>
					<p>Выберите счета с которых списать.</h4>
				</form>
			</div>


<!-- Список счетов и выпадающий список -->

<!--			<div class="list_of_accounts">
				<form action="/shop/accounts/" method="get">
					{% for x in users_accounts %}
						<ul>
							<li>
								<h5>
										Номер счета: {{ x.number }} ; 
										Сумма на счету =  {{ x.value }} руб.
									</a>
								</h5>
							</li>
						</ul>
					{% endfor %}
				</form>
			</div>	-->

<!--			<div class="account_selection">

				<p><h4>Выберите счета для списания: 
				</p></h	4>

				<form action="/shop/accounts/" method="get">
					<select size="1"  name="accounts">
					<option disabled>Выберите счета для списания</option><br>
					{% for x in users_accounts %}
						<option value="{{ x.pk }}">Счёт № {{ x.number }}, на счету: {{ x.value }} руб. </option>
							<a href=" {% url 'account_page' pk=x.pk %} ">Номер счета: {{ x.number }} ; Сумма на счету =  {{ x.value }} руб.
					{% endfor %}
					</select>
					<p><input type="submit" value="Выбрать счета"></p>
				</form>
			</div>
		</div>	-->


	{% endblock %}

{% endblock %}
