<!-- templates/user_detail.html -->
{% extends 'transfer.html' %}

	{% block page %}

<!-- Список счетов на checkbox'ах -->

		<div class="accounts">
			<p><h4>Выберите счета списания:</p></h4>

			<div class="list_of_accounts">
				<form action="/shop/transfer_sum/" method="get">
					{% for account in transfer_accounts %}
						<div>
							<ul>
								<li>
									<h5>
									<input type="checkbox" name= "ta" value="{{account.pk}}">
<!--										<a href=" {% url 'account_page' pk=account.pk %} ">	-->
											Номер счета: {{ account.number }} ; 
											Сумма на счету =  {{ account.value }} руб.
										</a>
									</h5>
								</li>
							</ul>
						</div>	
					{% endfor %}
					<p><input type="hidden" name="tu" value="{{ transfer_user.pk }}"></p>
					<p><input type="hidden" name="ru" value="{{ recipient_user }}"></p>
					<p><input type="hidden" name="ra" value="{{ recipient_account }}"></p>
					<p><input type="submit" value="Выбрать"></p>
				</form>
			</div>


<!-- Список счетов и выпадающий список -->

<!--			<div class="list_of_accounts">
				<form action="/shop/accounts/" method="get">
					{% for account in users_accounts %}
						<ul>
							<li>
								<h5>
										Номер счета: {{ account.number }} ; 
										Сумма на счету =  {{ account.value }} руб.
									</a>
								</h5>
							</li>
						</ul>
					{% endfor %}
				</form>
			</div>	-->

<!--			<div class="account_selection">

				<p><h4>Выберите счета для списания: 
				</p></h	4>

				<form action="/shop/accounts/" method="get">
					<select size="1"  name="accounts">
					<option disabled>Выберите счета для списания</option><br>
					{% for account in users_accounts %}
						<option value="{{ account.pk }}">Счёт № {{ account.number }}, на счету: {{ account.value }} руб. </option>
							<a href=" {% url 'account_page' pk=account.pk %} ">
							Номер счета: {{ account.number }} ; 
							Сумма на счету =  {{ account.value }} руб.
					{% endfor %}
					</select>
					<p><input type="submit" value="Выбрать счета"></p>
				</form>
			</div>
		</div>	-->

	{% endblock %}
