<!-- templates/search_user.html -->
{% extends 'transfer.html' %}

{% block page %}

	<div class="search_user">
		<h4>
			Введите имя пользователя:
		</h4>
		<form action="{% url 'search_user' %}" method="get">
			<input type="hidden" name="tu" value="{{ transfer_user.pk }}">
			<input type="text"   name="q"  placeholder="Искать пользователя...">
		</form>
	</div>

	<div class="search_result">
		<h4>
			Результат поиска:
		</h4>
		<p>{{ not_found }}</p>
		<ul>
			{% for find_user, accounts in dict_users.items %}
				{% for find_account in accounts %}
					<li>
						<a href=" /shop/accounts/?tu={{ transfer_user.pk }}&ru={{ find_user.pk }}&ra={{ find_account.pk }} ">
							{{ find_user.name }} {{ find_user.second_name }}
							счёт № {{ find_account.number }}
						</a><br>
					</li>
				{% endfor %}
			{% endfor %}
		</ul>
		<a href="/shop/search/?pk={{ transfer_user.pk }}">
			Сбросить поиск >>				
		</a><br>
	</div>

{% endblock %}
