<!-- templates/search_page.html -->
{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
	{% block page %}

		<h3>Введите имя пользователя:</h3>
		<form action="{% url 'search_page' %}" method="get">
			<input name="q" type="text" placeholder="Искать пользователя...">
		</form>

		<a href="/shop/search">Сбросить поиск >></a>		
		<br>

		<h3>Результат поиска:</h3>
		 
		<p>{{ not_found }}</p>
		<ul>
		  {% for user in list_users %}
		    <li>
			<a href=" {% url 'user_page' pk=user.pk %} ">{{ user.name }} {{ user.second_name }} </a>
		    </li>
		  {% endfor %}
		</ul>

	{% endblock %}

	{% block additional %}
	{% endblock %}

	{% block sidebar %}
	{% endblock %}
{% endblock %}

{% block footer %}
{% endblock %}



