<!-- templates/search_user.html -->
{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
	{% block page %}

		<div class="heading" align="center">
			<p><h3>Это страничка пользователя  
					<b>  {{ user.name }} </b>
					<br><br>
			</p></h3>
		</div>	

		<div class="search_user">
			<h4>
				Введите имя пользователя:
			</h4>
			<form action="{% url 'search_user' %}" method="get">
				<input type="hidden" name="pk" value="{{ user.pk }}">
				<input type="text"   name="q"  placeholder="Искать пользователя...">
			</form>
		</div>

		<div class="search_result">
			<h4>
				Результат поиска:
			</h4>
			<p>{{ not_found }}</p>
			<ul>
				{% for find_user in list_users %}
					<li>
<!--						<a href=" {% url 'user_page' pk=find_user.pk %} ">{{find_user.name}} {{find_user.second_name}} </a><br>	-->
						<a href=" /shop/accounts/?pk={{user.pk}}&fu={{find_user.pk}} ">
							{{ find_user.name }} {{ find_user.second_name }}
						 </a>
					</li>
				{% endfor %}
			</ul>
			<a href="/shop/search/?pk={{ user.pk }}">
				Сбросить поиск >>				
			</a><br>
		</div>

	{% endblock %}

	{% block additional %}
	{% endblock %}

	{% block sidebar %}
	{% endblock %}
{% endblock %}
