<!-- templates/user_detail.html -->
{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
	{% block page %}

		<div class="heading" align="center">
			<p><h3>Это страничка пользователя  
					<b>  {{ user.name }} </b>
					<br><br>
			</p></h3>
		</div>	


<!-- Список счетов на checkbox'ах -->

		<div class="accounts">
			<p><h4>Мои счета:</p></h4>

			<div class="list_of_accounts">
				<form action="/shop/accounts/" method="get">
					{% for x in users_accounts %}
						<ul>
							<li>
								<h5>
									<a href=" {% url 'account_page' pk=x.pk %} " title="счёт" name="accounts">
										Номер счета: {{ x.number }} ; 
										Сумма на счету =  {{ x.value }} руб.
									</a>
								</h5>
							</li>
						</ul>
					{% endfor %}
				</form>
			</div>


	{% endblock %}

	{% block additional %}
	{% endblock %}

	{% block sidebar %}
	{% endblock %}
{% endblock %}

{% block footer %}
{% endblock %}