h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}

body {
    padding-left: 15px;
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster', cursive;
}


.save {
    float: right;
}


.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}





/*
.heading {
    background: yellow;
    width: 100%;
}
*/

/*
.accounts {
    background: white;
    width: 100%;
    border: 1px solid;
    overflow: hidden;

}

.list_of_accounts {
    float: left;
    background: red;
    width: 50%;   
    max-width: 450px  
}

.account_selection {
    float: left;
    background: green;
    width: 50%;
    max-width: 450px
}
*/

/*
.search {
    vertical-align: top;
    float: left;
    background: orang_e;
    width: 100%;
    overflow: hidden;
    border: 1px solid;
}

.searching_user {
    display: table-cell; 
    vertical-align: top;
    float: left;
    background: red;
    width: 50%;
    border: 1px solid;
}

.searching_result {
    display: table-cell; 
    vertical-align: top;
    float: left;
    background: green;
    width: 50%;
    border: 1px solid;
}
*/